USE [CP_BASE]
GO
/****** Object:  Table [dbo].[WAREHOUSE_LIST]    Script Date: 19.09.2017 1:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE_LIST](
	[WAREHOUSE_NUMBER] [int] IDENTITY(2000,1) NOT NULL,
	[WAREHOUSE_NAME] [nvarchar](100) NOT NULL DEFAULT (''),
	[PERSON_IN_CHARGE] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_WHS] PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[WAREHOUSE_LIST] ON 

INSERT [dbo].[WAREHOUSE_LIST] ([WAREHOUSE_NUMBER], [WAREHOUSE_NAME], [PERSON_IN_CHARGE]) VALUES (2000, N'ООО "РУСАГРО"', N'Антонов Валерий Юрьевич')
INSERT [dbo].[WAREHOUSE_LIST] ([WAREHOUSE_NUMBER], [WAREHOUSE_NAME], [PERSON_IN_CHARGE]) VALUES (2001, N'ОАО "ЗСЛ"', N'Уткин Дмитрий Александрович')
INSERT [dbo].[WAREHOUSE_LIST] ([WAREHOUSE_NUMBER], [WAREHOUSE_NAME], [PERSON_IN_CHARGE]) VALUES (2002, N'ООО "БСК"', N'Гафуров Дамир Азатович')
SET IDENTITY_INSERT [dbo].[WAREHOUSE_LIST] OFF
