USE [CP_BASE]
GO
/****** Object:  Table [dbo].[INVOICES]    Script Date: 21.09.2017 23:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES](
	[INVOICE_NUMBER] [int] IDENTITY(1000,1) NOT NULL,
	[WAREHOUSE_NUMBER] [int] NOT NULL,
	[PERSON_IN_CHARGE] [nvarchar](100) NOT NULL,
	[PROD_CODE] [int] NOT NULL,
	[ATTRIBUTE] [bit] NOT NULL,
	[AMOUNT] [real] NULL DEFAULT ((0)),
	[MOD_DATE] [date] NULL,
 CONSTRAINT [PK_INVOICES] PRIMARY KEY CLUSTERED 
(
	[INVOICE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[INVOICES] ON 

INSERT [dbo].[INVOICES] ([INVOICE_NUMBER], [WAREHOUSE_NUMBER], [PERSON_IN_CHARGE], [PROD_CODE], [ATTRIBUTE], [AMOUNT], [MOD_DATE]) VALUES (1000, 2003, N'Улекаев Владимир Сергеевич', 2, 1, 4.5, CAST(N'2017-06-20' AS Date))
INSERT [dbo].[INVOICES] ([INVOICE_NUMBER], [WAREHOUSE_NUMBER], [PERSON_IN_CHARGE], [PROD_CODE], [ATTRIBUTE], [AMOUNT], [MOD_DATE]) VALUES (1001, 2004, N'Валуев Максим Анатольевич', 8, 1, 1.45, CAST(N'2017-07-13' AS Date))
INSERT [dbo].[INVOICES] ([INVOICE_NUMBER], [WAREHOUSE_NUMBER], [PERSON_IN_CHARGE], [PROD_CODE], [ATTRIBUTE], [AMOUNT], [MOD_DATE]) VALUES (1002, 2009, N'Исаев Олег Викторович', 4, 1, 120, CAST(N'2017-05-15' AS Date))
SET IDENTITY_INSERT [dbo].[INVOICES] OFF
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD  CONSTRAINT [CH_AMOUNT] CHECK  (([AMOUNT]>=(0)))
GO
ALTER TABLE [dbo].[INVOICES] CHECK CONSTRAINT [CH_AMOUNT]
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD CHECK  (([ATTRIBUTE]>=(0) AND [ATTRIBUTE]<=(1)))
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD CHECK  (([PROD_CODE]>=(1)))
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD CHECK  (([WAREHOUSE_NUMBER]>=(2000)))
GO
