USE [CP_BASE]
GO
/****** Object:  Table [dbo].[PROD_LIST]    Script Date: 19.09.2017 23:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROD_LIST](
	[PROD_CODE] [int] IDENTITY(1,1) NOT NULL,
	[PROD_NAME] [nvarchar](50) NOT NULL,
	[MANUFACTURER] [nvarchar](100) NOT NULL,
	[MANU_ADDRESS] [nvarchar](100) NOT NULL,
	[PHONE_NUMBER] [nvarchar](11) NULL,
	[UNIT] [nvarchar](20) NULL,
 CONSTRAINT [PK_PROD_LIST] PRIMARY KEY CLUSTERED 
(
	[PROD_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[PROD_LIST] ON 

INSERT [dbo].[PROD_LIST] ([PROD_CODE], [PROD_NAME], [MANUFACTURER], [MANU_ADDRESS], [PHONE_NUMBER], [UNIT]) VALUES (1, N'Стеклоочиститель, 5л', N'ООО "ПРОМСПИРТ"', N'г. Казань, ул. Промышленная, 12', N'88435566110', N'шт.')
INSERT [dbo].[PROD_LIST] ([PROD_CODE], [PROD_NAME], [MANUFACTURER], [MANU_ADDRESS], [PHONE_NUMBER], [UNIT]) VALUES (2, N'Хлоргиксидин', N'ООО "НОВХИМ"', N'г. Нижний Новгород, ул. Энгельса, 143', N'88245904453', N'т.')
INSERT [dbo].[PROD_LIST] ([PROD_CODE], [PROD_NAME], [MANUFACTURER], [MANU_ADDRESS], [PHONE_NUMBER], [UNIT]) VALUES (3, N'Морозильная камера "POZIS" мод. 123456', N'AO "ПОЗиС"', N'г.Зеленодольск, ул.Привокзальная, 4', N'88435673434', N'шт.')
SET IDENTITY_INSERT [dbo].[PROD_LIST] OFF
