USE [CP_BASE]
GO
--Создание таблицы
CREATE TABLE [dbo].[INVOICES](
	[INVOICE_NUMBER] [dbo].[KEY_TYPE] IDENTITY(1000,1),
	[WAREHOUSE_NUMBER] [dbo].[KEY_TYPE] ,
	[PERSON_IN_CHARGE] [nvarchar](100) NOT NULL,
	[PROD_CODE] [dbo].[KEY_TYPE],
	[ATTRIBUTE] [bit] NOT NULL,
	[AMOUNT] [real] NULL CONSTRAINT [DF_INVOICES_AMOUNT]  DEFAULT ((0)),
	[MOD_DATE] [date] NULL,
 CONSTRAINT [PK_INVOICES] PRIMARY KEY CLUSTERED 
(
	[INVOICE_NUMBER] ASC
) ON [PRIMARY]
) ON [PRIMARY]


--Добавление ограничений
ALTER TABLE [dbo].[INVOICES] ADD  CONSTRAINT [PROD_LIST_INV] FOREIGN KEY([PROD_CODE])
REFERENCES [dbo].[PROD_LIST] ([PROD_CODE])
ON UPDATE CASCADE
ON DELETE CASCADE;
GO
ALTER TABLE [dbo].[INVOICES] ADD  CONSTRAINT [W_L_INV] FOREIGN KEY([WAREHOUSE_NUMBER])
REFERENCES [dbo].[WAREHOUSE_LIST] ([WAREHOUSE_NUMBER]);
GO
ALTER TABLE [dbo].[INVOICES] ADD  CONSTRAINT [CH_INVOICES_AMOUNT] CHECK  (([AMOUNT]>=(0)))
GO
ALTER TABLE [dbo].[INVOICES] ADD  CONSTRAINT [CH_INVOICES_ATTRIBUTE] CHECK  (([ATTRIBUTE]>=(0) AND [ATTRIBUTE]<=(1)))
GO
ALTER TABLE [dbo].[INVOICES] ADD  CONSTRAINT [CH_INVOICES_PROD_CODE] CHECK  (([PROD_CODE]>=(1)))
GO
ALTER TABLE [dbo].[INVOICES] ADD  CONSTRAINT [CH_INVOICES_WAREHOUSE_NUMBER] CHECK  (([WAREHOUSE_NUMBER]>=(2000)))
GO


--Триггер на вставку
CREATE TRIGGER [dbo].[AI_INVOICES] ON [dbo].[INVOICES]
	FOR INSERT
AS 
BEGIN
	DECLARE @Count int;
	SET @Count=@@ROWCOUNT;
	IF @Count=0
		RETURN;
	--SET NOCOUNT ON;
	--	UPDATE STOR_PROD
	--	SET ALL_AMOUNT=ALL_AMOUNT+(SELECT SUM(AMOUNT) FROM inserted i 
	--		WHERE i.WAREHOUSE_NUMBER=STOR_PROD.WAREHOUSE_NUMBER AND
	--			i.PROD_CODE=STOR_PROD.PROD_CODE AND
	--				i.ATTRIBUTE=1);
	--	UPDATE STOR_PROD
	--	SET ALL_AMOUNT=ALL_AMOUNT-(SELECT SUM(AMOUNT) FROM inserted i 
	--		WHERE i.WAREHOUSE_NUMBER=STOR_PROD.WAREHOUSE_NUMBER AND
	--			i.PROD_CODE=STOR_PROD.PROD_CODE AND
	--				i.ATTRIBUTE=0);
	SELECT SUM(i.AMOUNT) AS amount1, i.WAREHOUSE_NUMBER, i.PROD_CODE INTO #tmp_tbl1 
	FROM inserted i WHERE i.ATTRIBUTE=1
	GROUP BY i.PROD_CODE, i.WAREHOUSE_NUMBER;
	
	SELECT SUM(i.AMOUNT)*(-1) AS amount0, i.WAREHOUSE_NUMBER, i.PROD_CODE INTO #tmp_tbl0
	FROM inserted i WHERE i.ATTRIBUTE=0
	GROUP BY i.PROD_CODE, i.WAREHOUSE_NUMBER;

	UPDATE STOR_PROD
		SET ALL_AMOUNT = ALL_AMOUNT + amount1, LAST_MOD_DATE = 
		(SELECT MAX(i2_1.MOD_DATE) FROM inserted i2_1, STOR_PROD s2_1 WHERE (i2_1.PROD_CODE=s2_1.PROD_CODE) AND
			(i2_1.WAREHOUSE_NUMBER=s2_1.WAREHOUSE_NUMBER) AND (i2_1.ATTRIBUTE=1))--GETDATE()--tmp1.MOD_DATE
			FROM STOR_PROD s, #tmp_tbl1 tmp1 WHERE
				s.WAREHOUSE_NUMBER=tmp1.WAREHOUSE_NUMBER AND
				s.PROD_CODE=tmp1.PROD_CODE;

	UPDATE STOR_PROD
		SET ALL_AMOUNT = ALL_AMOUNT + amount0, LAST_MOD_DATE =
		(SELECT MAX(i2_0.MOD_DATE) FROM inserted i2_0, STOR_PROD s2_0 WHERE (i2_0.PROD_CODE=s2_0.PROD_CODE) AND 
			(i2_0.WAREHOUSE_NUMBER=s2_0.WAREHOUSE_NUMBER) AND (i2_0.ATTRIBUTE=0))--GETDATE()--tmp1.MOD_DATE --GETDATE()--tmp0.MOD_DATE
			FROM STOR_PROD s, #tmp_tbl0 tmp0 WHERE
				s.WAREHOUSE_NUMBER=tmp0.WAREHOUSE_NUMBER AND
				s.PROD_CODE=tmp0.PROD_CODE;


	SELECT #tmp_tbl1.WAREHOUSE_NUMBER, #tmp_tbl1.PROD_CODE, #tmp_tbl1.amount1 INTO #tmp_tbl_EXC_1_1
	FROM #tmp_tbl1
	EXCEPT
	SELECT s.WAREHOUSE_NUMBER, s.PROD_CODE, amount1
	FROM STOR_PROD s, #tmp_tbl1;

	SELECT #tmp_tbl0.WAREHOUSE_NUMBER, #tmp_tbl0.PROD_CODE, #tmp_tbl0.amount0 INTO #tmp_tbl_EXC_0_0
	FROM #tmp_tbl0
	EXCEPT
	SELECT s.WAREHOUSE_NUMBER, s.PROD_CODE, amount0
	FROM STOR_PROD s, #tmp_tbl0;

	SELECT #tmp_tbl_EXC_1_1.WAREHOUSE_NUMBER, #tmp_tbl_EXC_1_1.PROD_CODE, #tmp_tbl_EXC_1_1.amount1+#tmp_tbl_EXC_0_0.amount0 AS amountRes INTO #tmp_tbl_EXC_Res
	FROM #tmp_tbl_EXC_1_1 INNER JOIN #tmp_tbl_EXC_0_0 ON
	(#tmp_tbl_EXC_1_1.WAREHOUSE_NUMBER=#tmp_tbl_EXC_0_0.WAREHOUSE_NUMBER) AND (#tmp_tbl_EXC_1_1.PROD_CODE=#tmp_tbl_EXC_0_0.PROD_CODE);

	SELECT #tmp_tbl_EXC_1_1.WAREHOUSE_NUMBER, #tmp_tbl_EXC_1_1.PROD_CODE, #tmp_tbl_EXC_1_1.amount1 INTO #tmp_tbl_EXC_for_ins
	FROM #tmp_tbl_EXC_1_1
	EXCEPT
	SELECT #tmp_tbl_EXC_1_1.WAREHOUSE_NUMBER, #tmp_tbl_EXC_1_1.PROD_CODE, #tmp_tbl_EXC_1_1.amount1+#tmp_tbl_EXC_0_0.amount0 AS amountRes
	FROM #tmp_tbl_EXC_1_1 INNER JOIN #tmp_tbl_EXC_0_0 ON
	(#tmp_tbl_EXC_1_1.WAREHOUSE_NUMBER=#tmp_tbl_EXC_0_0.WAREHOUSE_NUMBER) AND (#tmp_tbl_EXC_1_1.PROD_CODE=#tmp_tbl_EXC_0_0.PROD_CODE);

	SELECT * INTO #tmp_tbl_ins_S_P
	FROM (SELECT * FROM #tmp_tbl_EXC_for_ins
		  UNION
		  SELECT * FROM #tmp_tbl_EXC_Res) #tmp_tbl_ins_S_P;
	
	SET @Count=@@ROWCOUNT;
	IF @Count>0
	BEGIN
		INSERT INTO STOR_PROD(WAREHOUSE_NUMBER, PROD_CODE, LAST_MOD_DATE, ALL_AMOUNT)
		SELECT #tmp_tbl_ins_S_P.WAREHOUSE_NUMBER, #tmp_tbl_ins_S_P.PROD_CODE, MAX(i3_1.MOD_DATE), amount1
		FROM  #tmp_tbl_ins_S_P JOIN inserted i3_1 ON (#tmp_tbl_ins_S_P.PROD_CODE=i3_1.PROD_CODE AND #tmp_tbl_ins_S_P.WAREHOUSE_NUMBER=i3_1.WAREHOUSE_NUMBER AND i3_1.ATTRIBUTE=1)
		GROUP BY #tmp_tbl_ins_S_P.WAREHOUSE_NUMBER, #tmp_tbl_ins_S_P.PROD_CODE, i3_1.MOD_DATE, amount1;
	END;


	
	--UPDATE STOR_PROD
	--	SET ALL_AMOUNT = ALL_AMOUNT + amount1, LAST_MOD_DATE = GETDATE()--tmp1.MOD_DATE
	--		FROM STOR_PROD s INNER JOIN #tmp_tbl1 tmp1 ON
	--			s.WAREHOUSE_NUMBER=tmp1.WAREHOUSE_NUMBER AND
	--			s.PROD_CODE=tmp1.PROD_CODE;
	
	--UPDATE STOR_PROD
	--	SET ALL_AMOUNT = ALL_AMOUNT - amount0, LAST_MOD_DATE = GETDATE()--tmp0.MOD_DATE
	--		FROM STOR_PROD s INNER JOIN #tmp_tbl0 tmp0 ON
	--			s.WAREHOUSE_NUMBER=tmp0.WAREHOUSE_NUMBER AND
	--			s.PROD_CODE=tmp0.PROD_CODE;

	--SELECT  #tmp_tbl0.WAREHOUSE_NUMBER, #tmp_tbl0.PROD_CODE, amount0 INTO #tmp_tbl_i0
	--	FROM STOR_PROD s, #tmp_tbl0 WHERE
	--	(s.WAREHOUSE_NUMBER<>#tmp_tbl0.WAREHOUSE_NUMBER OR s.PROD_CODE<>#tmp_tbl0.PROD_CODE)
	--	GROUP BY #tmp_tbl0.WAREHOUSE_NUMBER, #tmp_tbl0.PROD_CODE, amount0;
	--SET @Count= @@ROWCOUNT;
	--IF @Count>0
	--	BEGIN
	--		INSERT INTO STOR_PROD(WAREHOUSE_NUMBER, PROD_CODE, LAST_MOD_DATE, ALL_AMOUNT)
	--		SELECT WAREHOUSE_NUMBER, PROD_CODE,GETDATE() ,amount0 
	--		FROM #tmp_tbl_i0
	--	END
	--SELECT  #tmp_tbl1.WAREHOUSE_NUMBER, #tmp_tbl1.PROD_CODE, amount1 INTO #tmp_tbl_i1
	--	FROM STOR_PROD s, #tmp_tbl1 WHERE
	--	(s.WAREHOUSE_NUMBER<>#tmp_tbl1.WAREHOUSE_NUMBER OR s.PROD_CODE<>#tmp_tbl1.PROD_CODE)
	--	GROUP BY #tmp_tbl1.WAREHOUSE_NUMBER, #tmp_tbl1.PROD_CODE, amount1;
	--	--WHERE s.WAREHOUSE_NUMBER<>#tmp_tbl1.WAREHOUSE_NUMBER OR s.PROD_CODE<>#tmp_tbl1.PROD_CODE;
	--SET @Count=@@ROWCOUNT;
	--IF @Count>0	
	--	BEGIN
	--		INSERT INTO STOR_PROD(WAREHOUSE_NUMBER, PROD_CODE, LAST_MOD_DATE, ALL_AMOUNT)
	--		SELECT WAREHOUSE_NUMBER, PROD_CODE,GETDATE() ,amount1 
	--		FROM #tmp_tbl_i1
	--	END

	--INSERT INTO STOR_PROD(WAREHOUSE_NUMBER, PROD_CODE, LAST_MOD_DATE, ALL_AMOUNT)
	--SELECT WAREHOUSE_NUMBER, PROD_CODE,GETDATE() ,amount0 
	--FROM #tmp_tbl_i0

	--INSERT INTO STOR_PROD(WAREHOUSE_NUMBER, PROD_CODE, LAST_MOD_DATE, ALL_AMOUNT)
	--SELECT WAREHOUSE_NUMBER, PROD_CODE,GETDATE() ,amount1
	--FROM #tmp_tbl_i1
	
	--UPDATE STOR_PROD
	--	SET ALL_AMOUNT = ALL_AMOUNT + amount1, LAST_MOD_DATE = GETDATE()--tmp1.MOD_DATE
	--		FROM STOR_PROD s INNER JOIN #tmp_tbl1 tmp1 ON
	--			s.WAREHOUSE_NUMBER=tmp1.WAREHOUSE_NUMBER AND
	--			s.PROD_CODE=tmp1.PROD_CODE;
	
	--UPDATE STOR_PROD
	--	SET ALL_AMOUNT = ALL_AMOUNT - amount0, LAST_MOD_DATE = GETDATE()--tmp0.MOD_DATE
	--		FROM STOR_PROD s INNER JOIN #tmp_tbl0 tmp0 ON
	--			s.WAREHOUSE_NUMBER=tmp0.WAREHOUSE_NUMBER AND
	--			s.PROD_CODE=tmp0.PROD_CODE;
	
	--INSERT INTO STOR_PROD(WAREHOUSE_NUMBER, PROD_CODE, LAST_MOD_DATE, ALL_AMOUNT)
	--SELECT WAREHOUSE_NUMBER, PROD_CODE,GETDATE() ,amount0 
	--FROM #tmp_tbl_i0

	--INSERT INTO STOR_PROD(WAREHOUSE_NUMBER, PROD_CODE, LAST_MOD_DATE, ALL_AMOUNT)
	--SELECT WAREHOUSE_NUMBER, PROD_CODE,GETDATE() ,amount1
	--FROM #tmp_tbl_i1
	
END

GO

--Триггер на обновление
CREATE TRIGGER [dbo].[AU_INVOICES] ON [dbo].[INVOICES]
   AFTER UPDATE
AS 
BEGIN
	DECLARE @Count int;
	SET @Count=@@ROWCOUNT;
	IF @Count=0 RETURN;
	SET NOCOUNT ON;

   IF UPDATE(AMOUNT) OR UPDATE(PROD_CODE) OR UPDATE(WAREHOUSE_NUMBER) OR UPDATE(ATTRIBUTE)
		BEGIN
			SELECT * FROM deleted WHERE ATTRIBUTE=1
			SET @Count=@@ROWCOUNT;
			IF @Count>0 
				BEGIN
					UPDATE STOR_PROD
					SET ALL_AMOUNT= ALL_AMOUNT-(SELECT SUM(AMOUNT)
							FROM deleted d
							WHERE d.ATTRIBUTE=1 AND d.WAREHOUSE_NUMBER=STOR_PROD.WAREHOUSE_NUMBER AND d.PROD_CODE=STOR_PROD.PROD_CODE
							GROUP BY PROD_CODE,WAREHOUSE_NUMBER,ATTRIBUTE)
					WHERE PROD_CODE IN (SELECT PROD_CODE FROM deleted d1) AND WAREHOUSE_NUMBER IN (SELECT WAREHOUSE_NUMBER FROM deleted d1)
				END
			SELECT * FROM deleted WHERE ATTRIBUTE=0
			SET @Count=@@ROWCOUNT;
			IF @Count>0 
				BEGIN
					UPDATE STOR_PROD
					SET	ALL_AMOUNT= ALL_AMOUNT+(SELECT SUM(AMOUNT)
							FROM deleted d
							WHERE d.ATTRIBUTE=0 AND d.WAREHOUSE_NUMBER=STOR_PROD.WAREHOUSE_NUMBER AND d.PROD_CODE=STOR_PROD.PROD_CODE
							GROUP BY PROD_CODE,WAREHOUSE_NUMBER,ATTRIBUTE)
					WHERE PROD_CODE IN (SELECT PROD_CODE FROM deleted d1) AND WAREHOUSE_NUMBER IN (SELECT WAREHOUSE_NUMBER FROM deleted d1)
				END
			SELECT * FROM INSERTED WHERE ATTRIBUTE=1
			SET @Count=@@ROWCOUNT;
			IF @Count>0
				BEGIN
					UPDATE STOR_PROD
					SET ALL_AMOUNT=ALL_AMOUNT+(SELECT SUM(AMOUNT)
							FROM inserted i
							WHERE i.ATTRIBUTE=1 AND i.WAREHOUSE_NUMBER=STOR_PROD.WAREHOUSE_NUMBER AND i.PROD_CODE=STOR_PROD.PROD_CODE
							GROUP BY PROD_CODE, WAREHOUSE_NUMBER,ATTRIBUTE)
					WHERE PROD_CODE IN (SELECT PROD_CODE FROM inserted i1) AND WAREHOUSE_NUMBER IN (SELECT WAREHOUSE_NUMBER FROM inserted i1);
				END
			SELECT * FROM INSERTED WHERE ATTRIBUTE=0
			SET @Count=@@ROWCOUNT;
			IF @Count>0
				BEGIN
					UPDATE STOR_PROD
					SET	ALL_AMOUNT=ALL_AMOUNT-(SELECT SUM(AMOUNT)
							FROM inserted i
							WHERE i.ATTRIBUTE=0 AND i.WAREHOUSE_NUMBER=STOR_PROD.WAREHOUSE_NUMBER AND i.PROD_CODE=STOR_PROD.PROD_CODE
							GROUP BY PROD_CODE, WAREHOUSE_NUMBER,ATTRIBUTE)
					WHERE PROD_CODE IN (SELECT PROD_CODE FROM inserted i1) AND WAREHOUSE_NUMBER IN (SELECT WAREHOUSE_NUMBER FROM inserted i1);
				END
		END
END

GO
/****** Object:  Trigger [dbo].[BD_INVOICES]    Script Date: 09.10.2017 17:17:15 ******/
--Триггер на удаление
CREATE TRIGGER [dbo].[BD_INVOICES] ON [dbo].[INVOICES]
   AFTER DELETE
AS 
BEGIN
	DECLARE @Count int;
	SET @Count=@@ROWCOUNT;
	IF @Count=0
		RETURN;
		SELECT SUM(d.AMOUNT) AS amount1, d.WAREHOUSE_NUMBER, d.PROD_CODE, d.ATTRIBUTE, d.MOD_DATE INTO #tmp_tbl1
		FROM deleted d WHERE d.ATTRIBUTE=1
		GROUP BY d.PROD_CODE, d.WAREHOUSE_NUMBER, d.ATTRIBUTE, d.MOD_DATE;
	SELECT SUM(d.AMOUNT) AS amount0, d.WAREHOUSE_NUMBER, d.PROD_CODE, d.ATTRIBUTE, d.MOD_DATE INTO #tmp_tbl0
		FROM inserted d WHERE d.ATTRIBUTE=0
		GROUP BY d.PROD_CODE, d.WAREHOUSE_NUMBER, d.ATTRIBUTE, d.MOD_DATE;
		--WHERE i.ATTRIBUTE=1
	UPDATE STOR_PROD
		SET ALL_AMOUNT = ALL_AMOUNT - amount1, LAST_MOD_DATE = tmp1.MOD_DATE
			FROM STOR_PROD s INNER JOIN #tmp_tbl1 tmp1 ON
				s.WAREHOUSE_NUMBER=tmp1.WAREHOUSE_NUMBER AND
				s.PROD_CODE=tmp1.PROD_CODE;
	
	UPDATE STOR_PROD
		SET ALL_AMOUNT = ALL_AMOUNT + amount0, LAST_MOD_DATE = tmp0.MOD_DATE
			FROM STOR_PROD s INNER JOIN #tmp_tbl0 tmp0 ON
				s.WAREHOUSE_NUMBER=tmp0.WAREHOUSE_NUMBER AND
				s.PROD_CODE=tmp0.PROD_CODE;

END

--Вставка строк в таблицу
GO
SET IDENTITY_INSERT [dbo].[INVOICES] ON 
INSERT [dbo].[INVOICES] ([INVOICE_NUMBER], [WAREHOUSE_NUMBER], [PERSON_IN_CHARGE], [PROD_CODE], [ATTRIBUTE], [AMOUNT], [MOD_DATE]) VALUES (1000, 2003, N'Улекаев Владимир Сергеевич', 2, 1, 4.5, CAST(N'2017-06-20' AS Date))
INSERT [dbo].[INVOICES] ([INVOICE_NUMBER], [WAREHOUSE_NUMBER], [PERSON_IN_CHARGE], [PROD_CODE], [ATTRIBUTE], [AMOUNT], [MOD_DATE]) VALUES (1001, 2004, N'Валуев Максим Анатольевич', 8, 1, 1.45, CAST(N'2017-07-13' AS Date))
INSERT [dbo].[INVOICES] ([INVOICE_NUMBER], [WAREHOUSE_NUMBER], [PERSON_IN_CHARGE], [PROD_CODE], [ATTRIBUTE], [AMOUNT], [MOD_DATE]) VALUES (1002, 2009, N'Исаев Олег Викторович', 4, 1, 120, CAST(N'2017-05-15' AS Date))
SET IDENTITY_INSERT [dbo].[INVOICES] OFF
GO