USE [CP_BASE]
GO
--Создание таблицы
CREATE TABLE [dbo].[WAREHOUSE_LIST](
	[WAREHOUSE_NUMBER] [dbo].[KEY_TYPE] IDENTITY(2000,1),
	[WAREHOUSE_NAME] [nvarchar](100) NOT NULL CONSTRAINT [DF_WAREHOUSE_LIST_WAREHOUSE_NAME]  DEFAULT (''),
	[PERSON_IN_CHARGE] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_WHS] PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_NUMBER] ASC
) ON [PRIMARY]
) ON [PRIMARY]


--Триггер на удаление
GO
CREATE TRIGGER [dbo].[IOD_WAREHOUSE_LIST]
   ON  [dbo].[WAREHOUSE_LIST] 
   INSTEAD OF DELETE
AS 
	BEGIN
		DELETE FROM STOR_PROD
		WHERE WAREHOUSE_NUMBER IN (SELECT WAREHOUSE_NUMBER FROM deleted);
		
		DELETE FROM INVOICES
		WHERE WAREHOUSE_NUMBER IN (SELECT WAREHOUSE_NUMBER FROM deleted);

	END

GO

--Триггер на обнавление
CREATE TRIGGER [dbo].[IOU_WAREHOUSE_LIST]
   ON  [dbo].[WAREHOUSE_LIST] 
   INSTEAD OF UPDATE
AS 
	BEGIN
		IF UPDATE(WAREHOUSE_NUMBER)
		BEGIN
		UPDATE INVOICES
			SET WAREHOUSE_NUMBER=inserted.WAREHOUSE_NUMBER
			FROM inserted
			WHERE INVOICES.WAREHOUSE_NUMBER=inserted.WAREHOUSE_NUMBER;
		UPDATE STOR_PROD
			SET WAREHOUSE_NUMBER=inserted.WAREHOUSE_NUMBER
			FROM inserted
			WHERE STOR_PROD.WAREHOUSE_NUMBER=inserted.WAREHOUSE_NUMBER;
		END
	END
GO

--Вставка строк в таблицу
GO
SET IDENTITY_INSERT [dbo].[WAREHOUSE_LIST] ON 
INSERT [dbo].[WAREHOUSE_LIST] ([WAREHOUSE_NUMBER], [WAREHOUSE_NAME], [PERSON_IN_CHARGE]) VALUES (2000, N'ООО "РУСАГРО"', N'Антонов Валерий Юрьевич')
INSERT [dbo].[WAREHOUSE_LIST] ([WAREHOUSE_NUMBER], [WAREHOUSE_NAME], [PERSON_IN_CHARGE]) VALUES (2001, N'ОАО "ЗСЛ"', N'Уткин Дмитрий Александрович')
INSERT [dbo].[WAREHOUSE_LIST] ([WAREHOUSE_NUMBER], [WAREHOUSE_NAME], [PERSON_IN_CHARGE]) VALUES (2002, N'ООО "БСК"', N'Гафуров Дамир Азатович')
SET IDENTITY_INSERT [dbo].[WAREHOUSE_LIST] OFF
