USE [CP_BASE]
GO

--Создание Таблицы 
CREATE TABLE [dbo].[STOR_PROD](
	[WAREHOUSE_NUMBER] [dbo].[KEY_TYPE] NOT NULL,
	[PROD_CODE] [dbo].[KEY_TYPE] NOT NULL,
	[LAST_MOD_DATE] [date] NULL,
	[ALL_AMOUNT] [real] NULL CONSTRAINT [DF_STOR_PROD_ALL_AMOUNT]  DEFAULT ((0)),
	[STOR_COND] [nvarchar](200) NULL CONSTRAINT [DF_STOR_PROD_STOR_COND]  DEFAULT (''),
 CONSTRAINT [PK_STOR_PROD] PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_NUMBER] ASC,
	[PROD_CODE] ASC
) ON [PRIMARY]
) ON [PRIMARY]

--Дабовление ограничений
ALTER TABLE [dbo].[STOR_PROD] ADD  CONSTRAINT [PROD_LIST_STOR_PROD] FOREIGN KEY([PROD_CODE])
REFERENCES [dbo].[PROD_LIST] ([PROD_CODE])
ON UPDATE CASCADE
ON DELETE CASCADE;
GO
ALTER TABLE [dbo].[STOR_PROD] ADD  CONSTRAINT [W_L_STOR_PROD] FOREIGN KEY([WAREHOUSE_NUMBER])
REFERENCES [dbo].[WAREHOUSE_LIST] ([WAREHOUSE_NUMBER])
GO
ALTER TABLE [dbo].[STOR_PROD] ADD  CONSTRAINT [CH_ALL_AMOUNT] CHECK  (([ALL_AMOUNT]>=(0)))
GO
ALTER TABLE [dbo].[STOR_PROD] ADD  CONSTRAINT [CH_STOR_PROD_PROD_CODE] CHECK  (([PROD_CODE]>=(1)))
GO
ALTER TABLE [dbo].[STOR_PROD] ADD  CONSTRAINT [CH_STOR_PROD_WAREHOUSE_NOMBER] CHECK  (([WAREHOUSE_NUMBER]>=(2000)))

--Добавление строк
GO
INSERT [dbo].[STOR_PROD] ([WAREHOUSE_NUMBER], [PROD_CODE], [LAST_MOD_DATE], [ALL_AMOUNT], [STOR_COND]) VALUES (2000, 5, CAST(N'2017-09-30' AS Date), 260, N'')
INSERT [dbo].[STOR_PROD] ([WAREHOUSE_NUMBER], [PROD_CODE], [LAST_MOD_DATE], [ALL_AMOUNT], [STOR_COND]) VALUES (2000, 10, CAST(N'2017-09-30' AS Date), 3, N'')
INSERT [dbo].[STOR_PROD] ([WAREHOUSE_NUMBER], [PROD_CODE], [LAST_MOD_DATE], [ALL_AMOUNT], [STOR_COND]) VALUES (2001, 3, CAST(N'2017-09-30' AS Date), 206, N'')
GO